name: Regression E2E tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
            command: npm run test:addtocart

      - name: Cypress Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
             name: Mochawesome HTML Reports
             path: cypress/reports/html # or path/to/artifact

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
             SLACK_COLOR: ${{ job.status }} # or a specific color like 'good' or '#ff00ff'
             SLACK_ICON: https://github.com/rtCamp.png?size=48
             SLACK_MESSAGE: 'Cypress Test Reports are here: https://github.com/karan4689-ind/Cypress-E2E/actions/runs/${{github.run_id}}'
             SLACK_TITLE: Cypress E2E Test Results
             SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}